[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/dark_lake"]
	path = themes/dark_lake
	url = https://github.com/Smartich0ke/dark_lake.git
