{{ define "main" }}
<h1>Projects by Nikolai Patrick</h1>
<h2>Landing</h2>
<p>Find projects on the left or go to All Projects.</p>
<br><br>
<h1>Most Recent Post</h1>
{{- range ( where site.RegularPages "Section" "projects" | first 1 ) }}
<article class="recentPost">
   <div class="articleTitleFlex">
   <a class="articleTitle" href="{{ .RelPermalink }}">{{.Title}}</a>
   <p class="articleDate">{{.Date.Format "02/01/2006"}}</p>
</div>
   <div class="articleTagsContainer">
       {{range .Params.tags}}<a class="button articleTag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}
   </div>
   <p class="articleSummary">{{.Summary}}</p>
</article>
{{ end }}
{{ end }}