body {
    --main-bg-colour: var(--plainWhite);
    --plainWhite: #ffffff;
    --alternate-bg-colour: #e0edf5;
    --accent-1: #0a1922;
    --accent-2: #103145;
    --accent-3: #133951;
    --highlight-1: #adb9c0;
    --highlight-2: #808080;
    --highlight-3: #4d4c4c;
    color: #000000;
    transition: ease-in 0.3s;
}
body.dark-theme {
    --main-bg-colour: #23272E;
    --plainWhite: #ffffff;
    --alternate-bg-colour: #1E2227;
    --accent-1: #0a1922;
    --accent-2: #103145;
    --accent-3: #133951;
    --highlight-1: #adb9c0;
    --highlight-2: #808080;
    --highlight-3: #4d4c4c; 
    color: var(--highlight-1);

}
@media (prefers-color-scheme: dark) {

    body {
        --main-bg-colour: #23272E;
        --plainWhite: #ffffff;
        --alternate-bg-colour: #1E2227;
        --accent-1: #0a1922;
        --accent-2: #103145;
        --accent-3: #133951;
        --highlight-1: #adb9c0;
        --highlight-2: #808080;
        --highlight-3: #4d4c4c; 
        color: var(--highlight-1);
    }
    body.light-theme {
        --main-bg-colour: var(--plainWhite);
        --plainWhite: #ffffff;
        --alternate-bg-colour: #e0edf5;
        --accent-1: #0a1922;
        --accent-2: #103145;
        --accent-3: #133951;
        --highlight-1: #adb9c0;
        --highlight-2: #808080;
        --highlight-3: #4d4c4c;
        color: #000000;
    }

}