@import url(fonts.css);
@import url(colours.css);
@media screen and (max-width: 1200px) {
    aside {
        width: 30vw !important;
    }
}
@media screen and (max-width: 700px) {
.footerFlex {
    justify-content: space-evenly !important;
}
#primaryDarkToggle {
    display: none;
}
#secondaryDarkToggle {
    display: block !important;
}
.backToMainSite {
    display: none !important;
}
.navContentFlex {
    flex-direction: column-reverse !important;
}
aside {
    width: 100vw !important;
}
main {
    width: 85% !important;
}
header {
    justify-content: center !important;
}
}
code {
    white-space: pre-line;
    background-color: var(--accent-2);
    color: var(--highlight-1);
    display: block;
    padding: 10px;
    border-radius: 7px;
}
body {
  font-family: lato-regular;  
  margin: 0;
  background-color: var(--main-bg-colour);
}
h1 {
    font-family: lato-bold;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0a1922;
  justify-content: space-between;
}
.lightDarkToggle {
    filter: invert(100%);
    margin-right: 20px;
    transition: ease-in 0.3s;

}
.themeButton {
    background: none;
    border: none;
}
.lightDarkToggle:hover {
    /*rotate: 180deg;*/
    /*translate: -32px;*/
    cursor: pointer;
    filter: invert(80%);
}
.alternateDarkModeSwitch {
    filter: invert(100%);
    margin-right: 20px;
    transition: ease-in 0.3s;
}
.alternateDarkModeSwitch:hover {
    /*rotate: 180deg;*/
    /*translate: -32px;*/
    cursor: pointer;
    filter: invert(80%);
}
.siteTitle {
    display: inline-block;
    padding: 10px 10px 10px 20px;
    font-family: lato-regular;
    color: var(--highlight-1);
}
.linksBox {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.backToMainSite {
    display: inline-block;
    padding-left: 10px;
    color: var(--highlight-1);
    text-decoration: none;
    background-color: var(--accent-2);
    border-radius: 5px;
    padding: 15px;
    margin-right: 30px;
}
.backToMainSite:hover {
    background-color: var(--accent-3);
}
.linksBox a {
    text-decoration: none;
    color: var(--highlight-1);
    padding: 10px;
}
.linksBox a:hover {
    text-decoration: underline;
    color: var(--plainWhite);
}
footer {
    color: var(--highlight-1);
    margin-left: 2%;
    margin-right: 2%;
}
footer a {
    text-decoration: none;
    color: var(--highlight-1);
    padding: 10px;
}
footer a:hover {
    text-decoration: underline;
    color: var(--highlight-2);
}
time {
    margin: 0 auto;
}
aside{
    display: inline-block;
    width: 20vw;
}
aside ul li a{
    text-decoration: none;
    color: var(--highlight-2);
    font-size: 16px;

}
aside ul li a:hover {
    
    color: var(--highlight-3);
}
aside ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}  
main {
    display: inline-block;
    width: 55%;
    margin-left: 42px;
    margin-top: 5px;
    background-color: inherit;
    min-height: 100vh;
} 
aside ul{
    list-style: none;
    padding-left: 0px;
    padding: 30px 50px 30px 30px; 
    background-color: var(--alternate-bg-colour);
    margin: 0;
}
hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--highlight-2);
}
.navHeader {
    font-size: 20px;
    font-family: lato-bold;
    padding-bottom: 10px;
}
.navContentFlex {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}
article p {
    line-height: 1.5;
}
article img {
    border-radius: 10px;
    max-height: 600px;
    max-width: fit-content;
}
.footerFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headerButtonsFlex {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.externalLink {
    filter: invert(100%);
    padding-top: 5px;
    padding-right: 4px;
}
.articleTitle {
    font-family: lato-bold;
    text-decoration: none;
    font-size: 23px;
    color: var(--highlight-2);
}
.articleTitle:hover {
    text-decoration: underline;
    color: var(--highlight-1);
}
.articleTitleFlex {
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.articleDate {
    margin-top: 0;
    margin-bottom: 0;
}
.articleListItem {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.articleTag {
    margin: 10px 15px 10px 0px;
}
.articleTagsContainer {
    display: flex;
    flex-direction: row;
}
.articleSummary {
    margin-top: 0;
}
.mainList {
    width: 75%;
}
.tagListItem {
    display: inline-block;
    width: fit-content;
    display: flex;
    align-items: center;
}
.tagText {
    font-size: 20px;
}
.tagListFlex {
    display: flex;
    flex-direction: column;
}
.tagArticleNo {
    padding: 5px;
    margin-left: 10px;
    background-color: var(--highlight-3);
    border-radius: 4px;
}
.postTime {
    margin-right: 10px;
    display: block;
}
.button {
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    background-color: var(--highlight-2);
    color: var(--plainWhite);   
    border-radius: 4px;
}
.button:hover {
    background-color: var(--highlight-3);
}
.tags {
    display: flex;
    flex-direction: row;
}
#secondaryDarkToggle {
    display: none;
}
#primaryDarkToggle {
}
.recentPost {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 16px #0000001f;
}