
<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="language" content="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="url" content="{{ .Site.BaseURL }}">
<meta name="identifier-URL" content="{{ .Site.BaseURL }}">
<meta name="topic" content="{{ .Title }}">
<meta name="subject" content="{{ .Title }}">
<meta name="description" content="{{ .Summary }}">
<meta name="summary" content="{{ .Summary }}">
<meta name="copyright" content="{{ .Site.Copyright }}">
<meta name="reply-to" content="{{ .Site.Params.Email }}">
<meta name="designer" content="Nikolai Patrick">
<meta name="author" content="{{ .Site.Author.author.name }}, {{ .Site.Params.Email }}">
<meta name="owner" content="Nikolai Patrick">
<meta name="Classification" content="{{ .Site.Params.Classification }}">
<meta name="keywords" content="{{ with .Params.tags }}{{ range . }}{{ . }}, {{ end }}{{ end }} {{ .Site.Params.Classification }}">
<meta name="revised" content="{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}{{ .PublishDate.Format $dateFormat }}">
<meta name="date" content="{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}{{ .PublishDate.Format $dateFormat }}">
<meta name="pagename" content="{{ .Title }}">
<meta name="category" content="{{ .Site.Params.Category }}">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<meta name="rating" content="{{ .Site.Params.Rating }}">
<meta name="target" content="{{ .Site.Params.Target }}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="medium" content="{{ .Site.Params.Medium }}">

<!-- Open Graph Data -->
<meta name='og:title' content='{{ .Title }}'>
<meta name='og:type' content='post'>
<meta name='og:url' content='{{ .Permalink }}'>
<meta name='og:image' content='{{ .Params.og_image }}'>
<meta name='og:site_name' content='{{ .Site.Title }}'>
<meta name='og:description' content='{{ .Summary }}'>
<meta name='og:locality' content='{{ .Site.Author.author.locality }}'>
<meta name='og:region' content='{{ .Site.Author.author.region }}'>
<meta name='og:country-name' content='{{ .Site.Author.author.country }}'>

<!-- Apple Metadata -->
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-touch-fullscreen' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='black'>
<meta name='format-detection' content='telephone=no'>
<meta name="theme-color" content="#0a1922">

<!-- Stylesheets -->
<link rel="stylesheet"href="//unpkg.com/@highlightjs/cdn-assets@11.6.0/styles/default.min.css">
<link rel="stylesheet" href="/stylesheets/master.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
<link rel="shortcut icon" href="{{ .Params.favicon }}" type="image/x-icon">
<!-- Scripts -->
<script src="//unpkg.com/@highlightjs/cdn-assets@11.6.0/highlight.min.js"></script>

{{ $title := print .Site.Title " | " .Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>
