<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
    </head>
    
    <body>
        <header>
            {{- partial "header.html" . -}}
        </header>
            <main class="mainList">
                    <h1>{{ .Title }}</h1>
                         <!-- Renders the li.html content view for each content/posts/*.md -->
                             {{ range .Pages }}
                             <article class="articleListItem">
                                <div class="articleTitleFlex">
                                <a class="articleTitle" href="{{ .RelPermalink }}">{{.Title}}</a>
                                <p class="articleDate">{{.Date.Format "02/01/2006"}}</p>
                            </div>
                                <div class="articleTagsContainer">
                                    {{range .Params.tags}}<a class="button articleTag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}
                                </div>
                                <p class="articleSummary">{{.Summary}}</p>
                             </article>
                             {{ end }}
            </main>
        <footer>
            {{- partial "footer.html" . -}}
        </footer>
        
    </body>
</html>