<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
    </head>
    
    <body>
        <header>
            {{- partial "header.html" . -}}
        </header>
            
            <main class="tagListFlex">
                <h1>Tags</h1>
                {{ range .Data.Terms.Alphabetical }}
                <a class="button articleTag tagListItem" href="{{ .Page.Permalink }}"><span class="tagText">{{ .Page.Title }}</span><span class="tagArticleNo">{{ .Count }}</span></a>
                {{ end }}
            </main>
        <footer>
            {{- partial "footer.html" . -}}
        </footer>
        
    </body>
</html>
